{
  "Authentication": {
    "ValidIssuer": "Issuer",
    "ValidAudience": "Audience",
    "SecretKey": "Key"
  },
  "Contacts": {
    "Email": "email@email.com"
  },
  "ConnectionStrings": {
    "DefaultConnection": "ConnectionStrings"
  },
  "ElsasticSearch": {
    "Url": "ElsasticSearchUrl"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}